{% extends 'amplio/base.html' %}

{% block title_block %}Your opinion matters{% endblock %}

{% block main_block %}
    <h1>Browse feedback</h1>
    {% if feedback_list %}
        <p>
            For filtering options, <a href="#" onclick="showSidebar()">open the sidebar</a>. Click on the feedback ID to
            go to
            the feedback page.
        </p>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>#</th>
                <th>Title and description</th>
                <th>Category</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            {% for feedback in feedback_list %}
                <tr>
                    <td class="selectable collapsing" onclick="goTo('{% url 'amplio:detail' feedback.id %}')">
                        {{ feedback.id }}
                    </td>
                    <td>
                        <div class="ui header">{{ feedback.title }}</div>
                        <p>{{ feedback.description }}</p>
                    </td>
                    <td>{{ feedback.get_category_display }}</td>
                    <td class="collapsing">
                        <div class="ui left labeled button">
                            <div class="ui basic right pointing label" id="votes-{{ feedback.id }}">
                                {{ feedback.patrons.count }}
                            </div>
                            {% if request.session.user_email %}
                                {% if feedback.author_id == request.session.user_email %}
                                    <button class="ui negative button vote-on-self-feedback" data-position="left center">
                                        <span class="fa fa-frown-o"></span>
                                    </button>
                                    <div class="ui inverted popup">
                                        <p>Cannot vote for own feedback</p>
                                    </div>
                                {% else %}
                                    <button class="ui vote button" data-feedback-id="{{ feedback.id }}"
                                            onclick="vote(this, '{% url 'amplio:vote' %}')">
                                        {% if user in feedback.patrons.all %}
                                            <span class="red-text fa fa-heart" data-voted="true"></span>
                                        {% else %}
                                            <span class="fa fa-heart-o" data-voted="false"></span>
                                        {% endif %}
                                    </button>
                                {% endif %}
                            {% else %}
                                <button class="ui teal button vote-without-sign-in"
                                        onclick="goTo('{% url 'amplio:sign_in' %}')" data-position="left center">
                                    <span class="fa fa-sign-in"></span>
                                </button>
                                <div class="ui inverted popup">
                                    <p>Sign in to vote</p>
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">
                    <div class="ui right floated pagination menu">
                        <a href="" class="icon item">
                            <span class="fa fa-chevron-left"></span>
                        </a>

                        <a href="" class="icon item">
                            <span class="fa fa-chevron-right"></span>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    {% else %}
        <p>
            There is no feedback in the system right now. {% if request.session.user_email %}You can be the first person
            to <a href="{% url 'amplio:compose' %}">compose feedback</a>!{% else %}You can submit your own feedback
            after you <a href="{% url 'amplio:sign_in' %}">sign in</a>.{% endif %}
        </p>
    {% endif %}
    <script>
        setUpAjax();
        initializePopups('.vote-without-sign-in');
        initializePopups('.vote-on-self-feedback');
    </script>
{% endblock %}