{% for comment in comment_set %}
    <div class="comment" id="comment-{{ comment.id }}">
        <div class="avatar">
            {% if comment.author.image %}
                <img src="{{ comment.author.image.url }}">
            {% else %}
                <svg data-jdenticon-hash="{{ comment.author.name_email_hash }}"
                     viewBox="0 0 100 100">
                </svg>
            {% endif %}
        </div>
        <div class="content" id="content-{{ comment.id }}">
            <div class="author">{{ comment.author.name }}</div>
            <div class="metadata">
                <span class="date">{{ comment.time }}</span>
                <span class="blue-text fa fa-thumbs-up"></span>
                <span class="blue-text" id="subscribers-{{ comment.id }}">{{ comment.subscribers.count }}</span>
            </div>
            <div class="text">{{ comment.text }}</div>
            <div class="actions">
                {% if user %}
                    <a href="#" data-comment-id="{{ comment.id }}" data-feedback-id="{{ comment.upon_feedback_id }}"
                       onclick="showReplyForm(this, '{{ request.session.user_email }}')">
                        Reply
                    </a>
                    Agree
                    <a href="#" data-comment-id="{{ comment.id }}"
                       onclick="subscribe(this)">
                        {% if user in comment.subscribers.all %}
                            <span class="blue-text fa fa-thumbs-up" data-subscribed="true"></span>
                        {% else %}
                            <span class="fa fa-thumbs-o-up" data-subscribed="false"></span>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{% url 'amplio:sign_in' %}">
                        <span class="teal-text fa fa-sign-in"></span>
                        &nbsp;&nbsp;&nbsp;
                        <span class="teal-text">Sign in to agree/disagree/reply</span>
                    </a>
                {% endif %}
            </div>
        </div>
        {% if comment.comment_set.count > 0 %}
            <div class="threaded comments">
                {% include 'amplio/comments.html' with comment_set=comment.comment_set.all %}
            </div>
        {% endif %}
    </div>
{% endfor %}