{% extends 'amplio/base.html' %}
{% load static from staticfiles %}

{% block title_block %}Your opinion matters{% endblock %}

{% block main_block %}
    <h1>Get in touch</h1>
    <h2>Send us an email and wait for our reply</h2>
    <form action="{% url 'amplio:contact' %}" method="post"
          class="ui form {% if state == 'success' %}success{% endif %}" name="contact">
        {% csrf_token %}
        <div class="field {% if form.email.errors %}error{% endif %}">
            {{ form.name.label_tag }}
            <div class="ui left icon input">
                {{ form.name }}
                <i class="icon fa fa-user"></i>
            </div>
        </div>
        <div class="field {% if form.email.errors %}error{% endif %}">
            {{ form.email.label_tag }}
            <div class="ui left icon input">
                {{ form.email }}
                <i class="icon fa fa-envelope"></i>
            </div>
        </div>
        <div class="field {% if form.email.errors %}error{% endif %}">
            {{ form.message.label_tag }}
            {{ form.message }}
        </div>
        <div type="submit" class="ui animated basic button" onclick="document.forms['contact'].submit()">
            <div class="visible content"><span class="fa fa-envelope"></span></div>
            <div class="hidden content">Submit</div>
        </div>
        <div class="ui error message" id="error-message">
            <ul class="list">
                {% if form.name.errors %}
                    <li>{{ form.name.errors|striptags }}</li>
                {% endif %}
                {% if form.email.errors %}
                    <li>{{ form.email.errors|striptags }}</li>
                {% endif %}
                {% if form.message.errors %}
                    <li>{{ form.message.errors|striptags }}</li>
                {% endif %}
            </ul>
        </div>
        <div class="ui success message" id="success-message">
            <div class="header">Great success!</div>
            <p>Your email is on its way to the coolest guys on campus.</p>
        </div>
    </form>
    <h2>Don't live in IIT Roorkee?</h2>
    <p>This website is not for you, buddy. Move along! If you feel inspired, learn <a
            href="http://www.djangoproject.com/">Django</a> and make an app like this for your own college.</p>
{% endblock %}