{% extends 'amplio/base.html' %}

{% block title_block %}Your opinion matters{% endblock %}

{% block main_block %}
    <h1>Detail and discussion</h1>
    <table class="ui celled table">
        <thead>
        <tr>
            <th colspan="2">
                <h2 class="ui left floated header">{{ feedback.title }}</h2>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="collapsing">Description</td>
            <td>{{ feedback.description }}</td>
        </tr>
        <tr>
            <td class="collapsing">Type</td>
            <td>{{ feedback.get_type_display }}</td>
        </tr>
        <tr>
            <td class="collapsing">To</td>
            <td>{{ feedback.get_to_display }}</td>
        </tr>
        <tr>
            <td class="collapsing">Category</td>
            <td>{{ feedback.get_category_display }}</td>
        </tr>
        <tr>
            <td class="collapsing">Image</td>
            <td>
                {% if feedback.image %}
                    <img src="{{ feedback.image.url }}" class="ui big image" alt="No images provided">
                {% else %}
                    <p>No screenshot or concept image provided</p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="collapsing">Status</td>
            <td>{{ feedback.get_status_display }}</td>
        </tr>
        <tr>
            <td class="collapsing">Date and time</td>
            <td>{{ feedback.time }}</td>
        </tr>
        <tr>
            <td class="collapsing"><span class="red-text fa fa-heart"></span></td>
            <td>
                {{ feedback.patrons.count }}
                {% if user in feedback.patrons.all %}
                    (including you!)
                {% endif %}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">
                Submitted by
                <div class="ui card">
                    <div class="content">
                        {% if feedback.author.image %}
                            <img src="{{ feedback.author.image.url }}"
                                 class="ui left floated mini circular image">
                        {% else %}
                            <svg class="ui left floated mini circular image"
                                 data-jdenticon-hash="{{ feedback.author.name_email_hash }}"
                                 viewBox="0 0 100 100">
                            </svg>
                        {% endif %}
                        <div class="header">{{ feedback.author.name }}</div>
                        {% if request.session.user_email == feedback.author.email %}
                            <div class="meta">That's you!</div>
                        {% else %}
                            <div class="meta">{{ feedback.author.get_post_display }}</div>
                        {% endif %}
                    </div>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
    <h2>Discussion</h2>
    <div class="ui segment" id="comments-section">
        {% if feedback.comment_set.count > 0 %}
            <div class="ui threaded comments">
                {% include 'amplio/comments.html' with comment_set=tier_one %}
            </div>
        {% else %}
            <p>Have anything to say? You're welcome to start a discussion!</p>
        {% endif %}
    </div>
    <div class="ui segment" id="tier-one-comments">
        {% if request.session.user_email %}
            <form class="ui form" id="tier-one-comment-form">
                <div class="field">
                    <label>Comment:</label>
                    <input type="text" placeholder="Comment">
                </div>
                <button type="submit"
                        onclick="submitTierOne('{{ request.session.user_email }}', {{ feedback.id }})"
                        class="ui primary button">
                    <span class="fa fa-comment"></span>&nbsp;&nbsp;&nbsp;Comment
                </button>
            </form>
        {% else %}
            <p>
                You haven't signed in! That's a problem because we don't allow people to contribute to the discussions
                without signing in.
            </p>
            <a href="{% url 'amplio:sign_in' %}" class="ui teal button">
                <span class="fa fa-sign-in"></span>&nbsp;&nbsp;&nbsp;Sign in
            </a>
            <a href="{% url 'amplio:sign_up' %}" class="ui teal button">
                <span class="fa fa-user-plus"></span>&nbsp;&nbsp;&nbsp;Sign up
            </a>
        {% endif %}
    </div>
    <script>
        setUpAjax();
    </script>
{% endblock %}