{% extends 'amplio/base.html' %}

{% block title_block %}Your opinion matters{% endblock %}

{% block main_block %}
    <h1>Hello World!</h1>
    <h2>You have a voice. Make yourself heard. <span class="span fa fa-bullhorn"></span></h2>
    <p>
        Talk straight to the people here at IMG. Tell us what you want, we'll make sure you're heard.
    </p>
    {% if request.session.user_email %}
        <div>
            <a href="{% url 'amplio:compose' %}" class="ui teal button">
                <span class="fa fa-pencil"></span>&nbsp;&nbsp;&nbsp;Compose
            </a>
            <a href="{% url 'amplio:browse' %}" class="ui teal button">
                <span class="fa fa-th-list"></span>&nbsp;&nbsp;&nbsp;Browse
            </a>
        </div>
    {% else %}
        <div>
            <a href="{% url 'amplio:sign_in' %}" class="ui teal button">
                <span class="fa fa-sign-in"></span>&nbsp;&nbsp;&nbsp;Sign in
            </a>
            <a href="{% url 'amplio:sign_up' %}" class="ui teal button">
                <span class="fa fa-user-plus"></span>&nbsp;&nbsp;&nbsp;Sign up
            </a>
            <a href="{% url 'amplio:browse' %}" class="ui teal button">
                <span class="fa fa-th-list"></span>&nbsp;&nbsp;&nbsp;Browse
            </a>
        </div>
    {% endif %}
{% endblock %}