{% extends 'amplio/base.html' %}

{% block title_block %}Your opinion matters{% endblock %}

{% block main_block %}
    <h1>Sign in</h1>
    <h2>Welcome back! We hope you have great stuff to share.</h2>
    <form action="{% url 'amplio:sign_in' %}" method="post"
          class="ui form {% if state == 'success' %}success{% endif %}" name="sign-in">
        {% csrf_token %}
        <div class="field {% if form.email.errors %}error{% endif %}">
            {{ form.email.label_tag }}
            <div class="ui inverted fluid popup">
                <p>Enter the email you used to sign up</p>
            </div>
            <div class="ui left icon input">
                {{ form.email }}
                <i class="icon fa-envelope"></i>
            </div>
        </div>
        <div class="field {% if form.password.errors %}error{% endif %}">
            {{ form.password.label_tag }}
            <div class="ui inverted fluid popup">
                <p>Enter the password associated with your account</p>
            </div>
            <div class="ui left icon right action input">
                {{ form.password }}
                <i class="icon fa-key"></i>
                <button type="button" class="ui basic floating button" onclick="toggleVisibility(this, 'in-password')">
                    <span class="fa fa-eye"></span>
                </button>
            </div>
        </div>
        <button type="submit" class="ui primary button">
            <span class="fa fa-sign-in"></span>&nbsp;&nbsp;&nbsp;Sign in
        </button>
        <div class="ui error message" id="error-message">
            <ul class="list">
                {% if form.non_field_errors %}
                    <li>{{ form.non_field_errors|striptags }}</li>
                {% endif %}
                {% if form.email.errors %}
                    <li>{{ form.email.errors|striptags }}</li>
                {% endif %}
                {% if form.password.errors %}
                    <li>{{ form.password.errors|striptags }}</li>
                {% endif %}
            </ul>
        </div>
    </form>
    <script>
        {% if state == 'failure' %}
            $('#error-message').css('display', 'block');
        {% endif %}
        initializePopups('label');
    </script>
{% endblock %}