#page {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
    flex-grow: 0;
}

#title {
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
    flex-grow: 0;
}

h1 {
    font-size: 4em;
}

#menu {
    margin-left: 1em;
    margin-right: 1em;
    flex-grow: 1;
}

#user {
    margin-left: 1em;
    margin-right: 1em;
    flex-grow: 0;
}

#not-signed-in-card {
    width: unset;
}

svg {
    background-color: white !important;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 960px;
    padding: 1em;
    width: 80%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.red-text {
    color: #db2828;
}

.ui.form {
    width: 50%;
}

i.icon {
    font-family: FontAwesome, sans-serif !important;
}

.ui.grid {
    width: 100%;
}

.ui.basic.label {
    cursor: default;
}

td.selectable {
    text-align: center !important;
    cursor: pointer;
}

footer {
    border-top: 1px solid #dddddd;
    padding: 1em;
    flex-grow: 0;
}